html {
  background: white;
}

body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 76%;
  text-align: center;
  width: 30em;
  margin: 5em auto;
  border: 1px #BBB solid;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  padding: 1em;
  background: #EEE;
  color: black;
}

#logo img {
  max-width: 30em;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.error {
  color: red;
}

.status {
  color: #3a3;
}

.messages {
  text-align: center;
}

form .messages, .messages ul {
  text-align: left;
}

h1 {
  margin-top: 0;
  text-align: center;
}

form {
  text-align: right;
  margin: 0;
}

form p {
  font-weight: bold;
  text-align: left;
}

div.form-item {
  margin: 1em 0;
}

div.form-item .description {
  font-size: 0.85em;
  line-height: 150%;
}

label {
  display: inline;
}

input {
  width: 12em;
}

input.form-submit {
  margin-bottom: 6px;
}

hr {
  margin: 12px 0;
}

#securesite-user-login .item-list ul {
  list-style-type: none;
  float: right;
  margin: 0;
}

#securesite-user-login span {
  display: block;
  clear: both;
}

html.js #securesite-user-login div#edit-openid-identifier-wrapper {
  display: none;
}

html.js #securesite-user-login li.openid-link {
  line-height: 170%;
  padding: 0 0 0.2em 1.5em;
  display: block;
}

#securesite-user-login li.openid-link, #securesite-user-login li.user-link {
  display: none;
}
